
<section my-directive ng-controller="mainController"  id="">

	<div>
	
		<div class="clearfix">&nbsp;</div>
		<div class="clearfix">&nbsp;</div>
		
		<div class="col-md-12">
		<div class="col-md-3">
			<select ng-model="subscribe.topicName" class="form-control" placeholder="Topic" ng-options="t.name for t in topics" id="">
                                         <option value="">-Select Topic-</option>
                                     </select>
									 
					</div>				 
		<div>
			<button class="btn btn-primary" ng-click="subscribeToTopic(subscribe)">SUBSCRIBE</button>
		</div>
		
		</div>
		<div class="clearfix">&nbsp;</div>
		<div class="col-md-12">
		<div class="table-responsive tablebox" >
                        <table class="table no-margin profile " ts-wrapper id="serviceClass">
                            <thead style="opacity:1 !important">
                                <tr class="headertext">
                                    <th ><input type="checkbox" ng-model="dall" /></th>
                                     <th>Os</th>
                                    <th>OsVersion</th>
									<th>User</th>
									<th>AppVersion</th>
									<th>IMEI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="device in devices">

                                    <td><input type="checkbox" ng-model="device.checked" ng-checked="dall" name="selectedDevice[]" ng-click="toggleSelection(device.arn)"/></td>
                                    <td>{{device.os}}</td>
									<td>{{device.osVersion}}</td>
									<td>{{device.deviceType}}</td>
									<td>{{device.appVersion}}</td>
									<td>{{device.deviceId}}</td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
					</div>
	</div>

    </section>
                                