<!DOCTYPE html>

<html lang="en" class="no-js">
<head>

<meta charset="UTF-8" />

<title>iTech</title>

<base href="/iTech/">

<!-- <link href='http://fonts.googleapis.com/css?family=Roboto:300italic,400italic,300,400,500,700,900' rel='stylesheet' type='text/css'/> -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="css/admin.css" />
<link type="text/css" rel="stylesheet" href="css/design-iconic-font.min.css?1421434286" />
<link rel="stylesheet" type="text/css" href="css/normalize.css" />
<!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->
<link rel="stylesheet" type="text/css" href="css/icons.css" />
<link rel="stylesheet" type="text/css" href="css/component.css" />
<link href="css/bootstrap.custom.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="css/bootstrap-responsive.css"> -->
<link rel="stylesheet" href="css/docs.css">
<link href="css/font-awesome.css" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet">
<link href="css/bootstrap-nav-wizard.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<link href="css/scrollable-table.css" rel="stylesheet">
<link rel="stylesheet" href="css/tablesort.css"/>
<link rel="stylesheet" href="css/jsplumb.css">
<link rel="stylesheet" href="css/demo.css">
<link href="css/simple-sidebar.css" rel="stylesheet">
<script src="js/modernizr.custom.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/highcharts4.2.6.js"></script> 
<script src="js/moment.js" ></script>	
<script src="js/bootstrap-datetimepicker.js" ></script>		
<script src="js/jquery-ui.min.js"></script>
<script src="js/jqueryfunction.js"></script>
<link href="images/favicon.ico" rel="icon" type="image/x-icon">
<link rel="stylesheet" href="css/jquery-ui.css">

<link href="css/simple-sidebar.css" rel="stylesheet">
<!-- <script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->



<script src="js/angular.min.js"></script>
<script src="js/googleChart.js"></script>

<script src="js/angular-resource.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/mainjs.js"></script>
<script src="js/servicejs.js"></script>
<script src="js/directivejs.js"></script>
<script src="js/commonfunction.js"></script>
<script src="js/commonctrl.js"></script>
<script src="js/userctrl.js"></script>	
<script src="js/sidebar_menu.js"></script>	
</head>


<body ng-app="userApp" ng-controller="mainController" >


<div ng-switch on="checkedLoggedin()">
 <div  ng-switch-when="true"><div ng-include="'includes/header.html'" class="clearfix" ></div>
 </div>
</div>


<div id="base" ng-class="{bglogin: pageURL() == '/' }">	

<div ng-switch on="checkedLoggedin()">
<div  ng-switch-when="true"><div ng-include="'views/leftbar.html'" class="clearfix" ></div></div>
</div>		
	<div id="content" ng-class="{nopaddlogin: pageURL() == '/' }">
		<ng-view ng-controller="headerCtrl"></ng-view>
	</div>

</div>



</body>

<script src="js/jquery.caret.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/classie.js"></script>
<script src="js/menu.js"></script>

<script src="js/bootstrap-filestyle.min.js"></script>


<script src="js/ng-google-chart.js"></script>


<script src="js/ui-bootstrap-0.11.2.js"></script>
<script src="js/ui-bootstrap-tpls-0.11.2.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.js"></script>
<script src="js/ngDraggable.js"></script>
<script src="js/angular-file-upload.js"></script>
<script src="js/ng-infinite-scroll.js"></script>
<script src="js/ng-table.js"></script>
<script src="js/angular-tablesort.js"></script>


<link href="css/bootstrap-multiselect.css" />
<script src="js/bootstrap-multiselect.js" ></script>
<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">





</html>
