<section my-directive ng-controller="mainController" id="">

    <div>
        <div class="row">
            <div class="row">
                <div class="col-lg-12 zeroPadd">

                    <div class="card style-default-bright">
                        <div class="">
                            <div class="col-sm-5">

                                <!-- <span ng-click="addUpdateSchema();" class="glyphicon glyphicon-plus-sign fa-2x color"></span> -->
                                <span class="iconPadding" ng-class="{'pointerCursor':'true'}" ng-click="openCreateTopic();" style="top:9px;margin-left:10%;">
                     <img src="images/new_inactive.png" onmouseover="iconHover(this, 'new_active.png');" onmouseout="iconUnHover(this, 'new_inactive.png');" ng-show="userProfileData.haveWritePermissionOnDataset === true || userProfileData.isSuperUser === true" class="icon-height">
                     <img src="images/new_inactive.png" ng-show="userProfileData.haveWritePermissionOnDataset !== true && userProfileData.isSuperUser !== true"></span>
                                <span class="pointerCursor iconPadding" title="Send message">
                     <img src="images/msg_active.png" ng-click="openSendMsg();" onmouseover="iconHover(this, 'msg_in_active.png');" onmouseout="iconUnHover(this, 'msg_active.png');" class="icon-height"></a></span>
                            </div>

                            <header style="color: white">&nbsp;</header>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>
    <div class="table-responsive tablebox">
        <table class="table no-margin profile " ts-wrapper id="serviceClass">
            <thead style="opacity:1 !important">
                <tr class="headertext">
                   
                    <th>Topic Name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="topic in topics">

                    
                    <td ng-click="showMessages(topic)">{{topic.name}}</td>

                </tr>

            </tbody>
        </table>
    </div>
    </div>

    <!--Send message Modal started-->

    <div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalDetailsLabel" class="modal-title ng-binding">
                        <b>Publish Message:</b>
                    </h4>
                </div>
                <form role="form" class="form" id="datasetForm" name="datasetForm" ng-submit="sendmsg(msgbody)">
                    <div class="modal-body">
                        <div class="row-fluid clearfix">&nbsp;</div>
                        <div class="row-fluid">

                            <div class="col-md-6">

                                <textarea class="form-control ng-pristine ng-valid ng-valid-required" ng-model="msgbody.msg" required="required" placeholder="Message Body"></textarea>
                            </div>
                            <div class="col-md-4">

                                <input type="text" class="form-control ng-pristine ng-valid ng-valid-required" ng-model="msgbody.sender" placeholder="On Behalf of:"></input>
                            </div>
                            <br/>
                            <div/>
                            <div>
                                <div class="row-fluid"></div>

                                <div class="row-fluid">

                                    <div class="col-xs-12">
                                        <div class="col-md-8">
                                            <select ng-model="msgbody.topic" class="form-control" placeholder="Topic" ng-options="t.name for t in topics" id="">
                                                <option value="">-Select Topic-</option>
                                            </select>

                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary">Publish</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix visible-xs-block"></div>

                    </div>

                </form>
            </div>

        </div>
    </div>

    <!--Cretae topic Modal started-->

    <div class="modal fade" id="createTopic" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalDetailsLabel" class="modal-title ng-binding">
                        <b>Create Topic:</b>
                    </h4>
                </div>
                <form role="form" class="form" id="datasetForm" name="datasetForm" ng-submit="createTopic(topic)">
                    <div class="modal-body">
                        <div class="row-fluid clearfix">&nbsp;</div>
                        <div class="row-fluid">

                            <div class="col-md-6">

                                <input type="text" class="form-control ng-pristine ng-valid ng-valid-required" ng-model="topic.name" placeholder="Topic Name"></input>
                            </div>
                            <br/>
                            <div/>
                            <div>
                                <div class="row-fluid"></div>

                                <div class="col-md-4">
                                    <button class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix visible-xs-block"></div>

            </div>

            </form>
        </div>

    </div>
    </div>
    <!--Modal for displaying messages from topic-->
<style type="text/css">
    
.scrollit {
    overflow:scroll;
    height:200px;
}

</style>
    <div class="modal fade" id="topicMsg" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalDetailsLabel" class="modal-title ng-binding">
                        <b>Messages sent to Topic: {{topicHeaderName}}</b>
                    </h4>
                </div>
                <div class="modal-body" >
                    <div class="row-fluid clearfix">&nbsp;</div>
                    <div class="row-fluid">

                        <div class="col-md-13 scrollit" >
                        <b ng-show="topicMsgs.length==0">No Messages for this topic</b>
                            <table class="table no-margin " ts-wrapper ng-show="topicMsgs.length>0">
                               
                                <tbody style="overflow:scroll;">
                                    <tr ng-repeat="msg in topicMsgs">
                                    <td></td>
                                    <!--ng-click to display delevery reports-->
                                       <a> <td ng-click="deliveryReport(msg)">{{msg.message}}</td></a>
                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <div/>
                        <div>
                            <div class="row-fluid"></div>

                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>

            </div>
        </div>

    </div>
    </div>


<!--Delivery Report-->


<div class="modal fade" id="msgDelivery" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 id="myModalDetailsLabel" class="modal-title ng-binding">
                        <b>Delivery Report</b>
                    </h4>
                </div>
                <div class="modal-body" >
                    <div class="row-fluid clearfix">&nbsp;</div>
                    <div class="row-fluid">

                        <div class="col-md-13 scrollit" >
                        <b ng-show="deliveryReport.length==0">No Delivery report for this Message</b>
                            <table class="table no-margin " ts-wrapper ng-show="deliveryReport.length>0">
                                <th>
                                    <td>User</td>
                                    <td>IMEI</td>
                                </th>
                                <tbody style="overflow:scroll;">
                                    <tr ng-repeat="dr in deliveryReport">
                                    <td></td>
                                    <!--ng-click to display delivery reports-->
                                        <td>{{dr.deviceId}}</td>
                                        <td>{{dr.email}}</td>

                                    </tr>
                                </tbody>

                            </table>
                        </div>

                        <div/>
                        <div>
                            <div class="row-fluid"></div>

                        </div>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>

            </div>
        </div>

    </div>
    </div>
</section>